#add full paths to files or directories here
#currently only .wav files are supported
#/home/john_doe/Music/


#max of 1024 audio files
#max of 256 buttons
#max of 128 images

#will prob make dynamic lists for these
#things instead of fixed sized arrays
#but for now this should be adequate


$MAIN;640;360;assets/background.bmp;assets/font.bmp;7

#default button config

#select file button
$BUTTON;0;0;0;26;1920;26;1059888;0;0;null;null;1;0;0;0;0;0;0;0;0;0;Play your files here;0;0

#song position slider
$BUTTON;2;1;0;0;1920;26;7442007;14751362;0;null;null;1;0;0;0;0;0;0;0;0;0;Size of file here;0;0

#play/pause button
$BUTTON;1;0;314;52;144;26;3300819;0;0;null;null;0;0;1;1;0;0;0;0;0;0;Pause ||;null;0;0

#rate input
$BUTTON;5;0;170;52;144;26;11669050;0;0;null;null;0;0;1;1;0;0;0;0;0;0;44100;0;0

#search file button
$BUTTON;4;0;0;26;1920;26;3408032;0;100;null;null;1;0;0;1;0;0;0;0;0;0;Search for files;0;0

#volume slider
$BUTTON;3;2;26;52;26;26;3300819;15098925;0;null;null;0;0;1;0;0;1;0;0;0;0;V\no\nl\nu\nm\ne;0;0


#default wave config
$WAVE;239;16;55;0;1;1;1
