#add full paths to files or directories here
#currently only .wav files are supported
#/home/john_doe/Music/


#max of 1024 audio files
#max of 256 buttons
#max of 128 images

#will prob make dynamic lists for these
#things instead of fixed sized arrays
#but for now this should be adequate


$MAIN;960;540;assets/space.bmp;assets/font_glowing.bmp;7

#default button config

#select file button
$BUTTON;0;0;0;104;1920;52;0;0;0;assets/button.bmp;null;1;0;0;1;0;0;0;0;0;0;Play your files here;36;13

#song position slider
$BUTTON;2;1;0;0;1920;52;0;0;0;assets/button.bmp;assets/slide.bmp;1;0;0;0;0;0;0;0;0;0;Size of file here;36;13

#play/pause button
$BUTTON;1;0;0;104;161;161;84500991;0;0;assets/tux.bmp;null;0;0;0;0;0;0;0;0;0;0;Pause ||;0;0

#rate input
$BUTTON;5;0;0;52;500;52;0;0;0;assets/button.bmp;null;1;0;0;1;0;0;0;0;50;0;44100;36;13

#search file button
$BUTTON;4;0;0;52;500;52;0;0;0;assets/button.bmp;null;1;0;1;1;0;0;50;0;0;0;Search for files;36;13

#volume slider
$BUTTON;3;3;0;52;1920;52;0;0;0;assets/button.bmp;assets/slideButton.bmp;1;0;0;0;0;0;0;0;0;0;Volume;36;13


#list of custom background images
$IMAGE;assets/background.bmp;example


#default wave config
$WAVE;239;16;55;0;1;1;2
